# ── Python
.venv/
__pycache__/
*.py[cod]
*.egg-info/

# ── MLflow (local tracking)
mlruns/
trabajo_mlflow/

# ── DVC
# ¡No ignores los metadatos de DVC!
!.dvc/
!.dvcignore
.dvc/cache/
.dvc/tmp/

# Ignora el contenido pesado que administra DVC
# (DVC creará *.dvc que sí van a Git)
data/
models/

# ── IDEs
.vscode/
.idea/