# Entorno/bytecode
.venv/
__pycache__/
*.pyc

# Artefactos MLflow (no versionar)
mlruns/
trabajo_mlflow/

# Ignora datos y modelos grandes...
data/**
models/**

# ...pero PERMITE los punteros .dvc y las carpetas
!data/
!models/
!*.dvc

# DVC internals: mantenerlos en git
!.dvc/
!.dvcignore

# Ignora solo el cache de DVC
.dvc/cache/
.dvc/tmp/

# IDE
.vscode/
.idea/
/models
